.button {
    width: 100px;
    height: 100px;
}

.yellow_simon_button {
    border-top-left-radius: 100%;
    background-color: rgba(216, 216, 0, 0.701);

    &:hover {
        background-color: hsl(from yellow 60 100% 81%);
    }

    &:active {
        background-color: hsl(from yellow 55 99% 69%);
    }
}

.blue_simon_button {
    border-bottom-left-radius: 100%;
    background-color: rgba(2, 2, 157, 0.892);
    
    &:hover {
        background-color: hsl(from blue 229 100% 59%);
    }

    &:active {
        background-color: hsl(from blue 240 98% 24%);
    }
}

.btn_sequence {
    filter: brightness(0.025)
}


.red_simon_button {
    background-color: rgb(194, 2, 2);
    border-top-right-radius: 100%;

    &:hover {
        background-color: hsl(from red 0 91% 62%);
    }

    &:active {
        background-color: hsl(from red 356 100% 41%);
    }
}

.green_simon_button {
    border-bottom-right-radius: 100%;
    background-color: green;

    &:hover {
        background-color: hsl(from green 145 63% 49%);
    }

    &:active {
        background-color: hsl(from green 148 63% 31%);
    }
}