.board {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.board-row {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.center {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: inline-block;
    background-color: black;

}